<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<package name="com.project.groupware.domain" />
	</typeAliases>

	<mappers>
		<mapper resource="com/project/groupware/persistent/mapper/ApprovalHistoryMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/ApprovalLineMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/DepartmentMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/DocumentFileMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/DocumentMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/EmployeeImageMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/EmployeeMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/FormFileMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/FormMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/NoticeMapper.xml" />
		<mapper resource="com/project/groupware/persistent/mapper/TempDocumentMapper.xml" />
	</mappers>

</configuration>