<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.ArticleFileMapper">

<!-- 파일 등록-->
<insert id="insertArticleFile" parameterType="map" statementType="PREPARED">
	insert All
	<foreach item="articleFile" collection="articleFiles">
		into ARTICLE_FILE(article_id,original_file_name,system_file_name,file_size)
		values(#{articleFile.articleId},#{articleFile.originalFileName},#{articleFile.systemFileName},#{articleFile.fileSize})
	</foreach>
	select * from dual 
</insert>

<!-- 파일 삭제(파일)-->
<delete id="deleteFile" parameterType="map" statementType="PREPARED">
	delete from ARTICLE_FILE
	where id in	
        
        <foreach item="item" collection="fileNoList" open="(" separator="," close=")">
			 #{item}
		</foreach>

</delete>

<!-- 파일 삭제(게시글) -->
<delete id="deleteArticleFile" parameterType="int" statementType="PREPARED">
	delete from ARTICLE_FILE
	where article_id = #{value}
</delete>

</mapper>