<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.DepartmentMapper">

	<insert id="insertDepartment" parameterType="departmentVO"
		statementType="PREPARED">
		INSERT INTO DEPARTMENT(ID, NAME)
		VALUES(#{id}, #{name})
	</insert>

	<select id="selectDepartmentList" resultType="departmentVO"
		parameterType="map" statementType="PREPARED">
		SELECT ID, NAME
		FROM DEPARTMENT
		<if test="keyword != 'all'">
			<trim prefix="WHERE">
				<choose>
					<when test="keyfield == 'id'">
						id like '%' || #{keyword} || '%'
					</when>
					<when test="keyfield == 'name'">
						name like '%' || #{keyword} || '%'
					</when>
				</choose>
			</trim>
		</if>
		order by id asc
	</select>

	<select id="selectDepartment" parameterType="String" resultType="departmentVO"
		statementType="PREPARED">
		SELECT ID, NAME
		FROM DEPARTMENT
		WHERE ID = #{id}
	</select>

	<update id="updateDepartment" parameterType="map" statementType="PREPARED">
		UPDATE employee SET department_id = #{} WHERE id IN
		<foreach item="empList" index="index" collection="list" open="("
			separator="," close=")">
			#{empList.bookID}
		</foreach>
	</update>

	<delete id="deleteDepartment" parameterType="String"
		statementType="PREPARED">
		DELETE
		FROM DEPARTMENT
		WHERE ID = #{id}
	</delete>
</mapper>