<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.DepartmentMapper">

	<insert id="insertDepartment" parameterType="departmentVO"
		statementType="PREPARED">
		INSERT INTO DEPARTMENT(ID, NAME)
		VALUES(#{id}, #{name})
	</insert>

	<select id="selectDepartmentList" resultType="departmentVO"
		parameterType="map" statementType="PREPARED">
		SELECT ID, NAME
		FROM DEPARTMENT
		<if test="keyword != 'all'">
			<trim prefix="WHERE">
				<choose>
					<when test="keyfield == 'id'">
						id like '%' || #{keyword} || '%'
					</when>
					<when test="keyfield == 'name'">
						name like '%' || #{keyword} || '%'
					</when>
				</choose>
			</trim>
		</if>
		order by id asc
	</select>

	<select id="selectDepartment" parameterType="String" resultType="departmentVO"
		statementType="PREPARED">
		SELECT ID, NAME
		FROM DEPARTMENT
		WHERE ID = #{id}
	</select>

	<update id="updateDepartment" parameterType="map" statementType="PREPARED">
		UPDATE employee SET department_id = #{deptid,jdbcType=CHAR} WHERE id IN
		<foreach item="emplist" index="index" collection="emplist" open="("
			separator="," close=")">
			#{emplist,jdbcType=VARCHAR}
		</foreach>
	</update>

	<delete id="deleteDepartment" parameterType="String"
		statementType="PREPARED">
		DELETE
		FROM DEPARTMENT
		WHERE ID = #{id}
	</delete>
	
	<select id="selectDepartmentListWithCount" statementType="STATEMENT" resultType="departmentVO">
		SELECT 
			d.id as id, 
			d.name as name, 
			count(e.id) as employeeCount
		from DEPARTMENT d, EMPLOYEE e
		where d.id = e.department_id(+) 
		group by d.id, d.name
	</select>
	
	<!-- 게시판에서 부서 이름 가져오기  -->
	<select id="selectDepartmentListID" resultType="departmentVO"
		 statementType="PREPARED">
		SELECT 
		ID , 
		NAME
		FROM DEPARTMENT
	</select>
	
</mapper>