<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.DocumentMapper">

	<insert id="insertDocument" parameterType="documentVO" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		<!-- <selectKey keyProperty="status" statementType="PREPARED" order="BEFORE" resultType="string">
			SELECT id 
			FROM DOCUMENT_STATUS
			WHERE status = #{status}	
		</selectKey> -->
		INSERT INTO DOCUMENT (form_id, subject, content, writeday, enddate, document_status_id )
		VALUES (#{formVO.id}, #{subject}, #{content}, sysdate, to_date(#{endDate}, 'YYYY/MM/DD'), #{status} )
		<!-- formVO.id가 먹힐것인가 -->
		
	</insert>


	<update id="updateDocumentStatus" parameterType="documentVO" statementType="PREPARED">
		UPDATE DOCUMENT
		SET DOCUMENT_STATUS_ID = #{status}
		WHERE ID = #{id}
	</update>
	
</mapper>