<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.DocumentMapper">

	<insert id="insertDocument" parameterType="documentVO" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		<!-- <selectKey keyProperty="status" statementType="PREPARED" order="BEFORE" resultType="string">
			SELECT id 
			FROM DOCUMENT_STATUS
			WHERE status = #{status}	
		</selectKey> -->
		INSERT INTO DOCUMENT (form_id, subject, content, writeday, enddate, document_status_id )
		VALUES (#{formVO.id}, #{subject}, #{content}, sysdate, to_date(#{endDate}, 'YYYY/MM/DD'), #{status} )
		<!-- formVO.id가 먹힐것인가 -->
		
	</insert>


	<update id="updateDocumentStatus" parameterType="documentVO" statementType="PREPARED">
		UPDATE DOCUMENT
		SET DOCUMENT_STATUS_ID = #{status}
		WHERE ID = #{id}
	</update>
	
	<select id="selectDocumentList" resultType="documentVO" statementType="PREPARED" parameterType="map">
		select 
		      doc.id,
		      doc.subject,
		      doc.writeday,
		      (select max(auth_date) from approval_history where ah.document_id = doc.id) as endDate,
		      emp.name as writer,
		      ds.status
		from document doc,
		        document_status ds,
		        approval_history ah,
		        approver ap,
		        employee emp
		where doc.document_status_id = ds.id
		          and doc.id = ah.document_id
		          and ah.approver_id = ap.id
		          and ap.employee_id = emp.id
		          and ap.step = 1
		          and ds.id = #{status}
		order by writeday desc
	</select>
	
	<insert id="insertBookMarkDocument" parameterType="bookMarkDocumentVO" statementType="PREPARED">
		<selectKey keyProperty="id" statementType="STATEMENT" order="BEFORE" resultType="int">
			select mydocs_id_seq.nextval from dual
		</selectKey>
		
		insert into mydocs (id, employee_id, document_id)
		values (#{id}, #{employeeId}, #{documentId})
	</insert>
	
	<delete id="deleteBookMarkDocument" parameterType="int" statementType="PREPARED">
		delete from mydocs
		where id = #{value}
	</delete>
	
</mapper>