<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.EmployeeHistroyMapper">

	<select id="selectEmployeeHistory" parameterType="map"
		resultType="java.util.HashMap" statementType="PREPARED">
		select history.EMPLOYEE_ID as id, emp.NAME as name, START_DATE,
		END_DATE, KIND, CONTENT
		from EMP_HISTORY history, EMPLOYEE emp
		where history.EMPLOYEE_ID = emp.ID
		<if test="keyword != 'all'">
			<choose>
				<when test="keyfield == 'id'">
					and history.EMPLOYEE_ID like '%' || #{keyword} ||
					'%'
				</when>
				<when test="keyfield == 'name'">
					and emp.NAME like '%' || #{keyword} || '%'
				</when>
				<when test="keyfield == 'enddate'">
					and END_DATE '%' || #{keyword} || '%'
				</when>
				<when test="keyfield == 'startdate'">
					and START_DATE like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</select>
</mapper>