<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.EmployeeImageMapper">
	<insert id="insertImage" parameterType="employeeImageVO"
		statementType="PREPARED">
		<selectKey keyProperty="id" statementType="STATEMENT" order="BEFORE"
			resultType="string">
			SELECT EMP_IMAGE_ID_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO EMP_IMAGE(ID, EMPLOYEE_ID ,ORIGINAL_FILE_NAME,
		SYSTEM_FILE_NAME,
		FILE_SIZE, KIND)
		VALUES(#{id}, #{employeeId},
		#{originalFileName}, #{systemFileName}, #{fileSize}, #{kind})
	</insert>

	<select id="selectImage" parameterType="map" resultType="employeeImageVO"
		statementType="PREPARED">
		select
		ID,EMPLOYEE_ID as employeeId,ORIGINAL_FILE_NAME as
		originalFileName,SYSTEM_FILE_NAME as systemFileName,FILE_SIZE as
		fileSize,KIND
		from
		EMP_IMAGE
		WHERE EMPLOYEE_ID = #{employeeVO.id} and
		KIND = #{kind}
	</select>

	<delete id="deleteImage" parameterType="String" statementType="PREPARED">
		DELETE
		FROM EMP_IMAGE
		WHERE EMPLOYEE_ID = #{id}
	</delete>

	<delete id="deleteImage1" parameterType="String" statementType="PREPARED">
		DELETE
		FROM EMP_IMAGE
		WHERE EMPLOYEE_ID = #{id} and kind = '1'
	</delete>

	<delete id="deleteImage2" parameterType="String" statementType="PREPARED">
		DELETE
		FROM EMP_IMAGE
		WHERE EMPLOYEE_ID = #{id} and kind = '2'
	</delete>
</mapper>