<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.EmployeeHistroyMapper">

	<select id="selectEmployeeHistory"  resultType="java.util.HashMap" statementType="STATEMENT">
		select 
			emp.ID as ID, 
			emp.NAME as NAME, 
			TO_CHAR(history.START_DATE, 'YYYY/MM/DD')	as STARTDATE,
			TO_CHAR(history.END_DATE, 'YYYY/MM/DD') as ENDDATE, 
			history.KIND as KIND,
			history.OLD_CONTENT as OLDCONTENT, 
			history.NEW_CONTENT as NEWCONTENT
		from EMP_HISTORY history,
				EMPLOYEE emp
		where history.EMPLOYEE_ID = emp.ID
		ORDER BY history.END_DATE DESC
	</select>
</mapper>