<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.groupware.persistent.mapper.QnAFileMapper">

	<!-- 파일 등록 -->
	<insert id="insertQnAFile" parameterType="map" statementType="PREPARED">
		insert All
		<foreach item="articleFile" collection="articleFiles">
			into
			ARTICLE_FILE(article_id,original_file_name,system_file_name,file_size)
			values(#{articleFile.articleId},#{articleFile.originalFileName},#{articleFile.systemFileName},#{articleFile.fileSize})
		</foreach>
		select * from dual
	</insert>

	<!-- 게시글 삭제 -->
	<delete id="deleteQnAArticleFile" statementType="PREPARED"
		parameterType="int">
		DELETE FROM ARTICLE_FILE
		WHERE article_id = #{articleId}
	</delete>

	<!-- 파일 삭제(파일) -->
	<delete id="deleteQnAFile" parameterType="map" statementType="PREPARED">
		delete from ARTICLE_FILE
		where id in
		
		<foreach item="item" collection="fileNoList" open="("
			separator="," close=")">
			#{item}
		</foreach>

	</delete>



</mapper>
	
